APPIUM_SERVER_URL=http://127.0.0.1:4723
MOBILE_PLATFORM=android
MOBILE_APP_PROFILE=api_demos
MOBILE_DEVICE_NAME=Android
MOBILE_UDID=
MOBILE_PLATFORM_VERSION=
MOBILE_APP=
ANDROID_APP_PACKAGE=com.saucelabs.mydemoapp.android
ANDROID_APP_ACTIVITY=com.saucelabs.mydemoapp.android.view.activities.SplashActivity
IOS_BUNDLE_ID=com.saucelabs.mydemo.app.ios
IOS_DEVICE_NAME=iPhone Simulator
